{
  "art_channel": "YOUR_ART_CHANNEL_ID",
  "art_notice_message": "@here 아트 새브렌치가 나왔습니다~\n`{branch_name}`\n**브렌치 이동후 다운로드 바이너리스 해주세요",
  "test_message": "<@U04MCMGPN05>\n:arnyang_ugly:\n`코드 형식`\n아르니므 마크 스킬~"
}
